#header{
text-align: center;
}
.boldText{
font-weight: bold;
}
#subHeader{
text-align: center;
}
.sections{
font-weight: bold;
font-size: 20px;
}
body{
height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
